/* Custom scrollbar styling kr rhe h */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #111827; 
}
 
::-webkit-scrollbar-thumb {
    background: #374151; 
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b5563; 
}

canvas {
    max-width: 100% !important;
    max-height: 100% !important;
}